.container {
  perspective: 1000px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #4CAF50;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.box:hover {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}

.front {
  background-color: #4CAF50;
}

.back {
  background-color: #FF5722;
  transform: rotateY(180deg);
}
